--
-- PostgreSQL database dump
--

-- Dumped from database version 16.1
-- Dumped by pg_dump version 16.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: build; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.build (
    build_id integer NOT NULL,
    case_id integer,
    graphics_card_id integer,
    harddisk_id integer,
    keyboard_id integer,
    liquid_cooling_system_id integer,
    monitor_id integer,
    motherboard_id integer,
    mouse_id integer,
    power_supply_unit_id integer,
    processor_id integer,
    ram_id integer,
    speaker_id integer,
    total_price bigint,
    user_id integer
);


ALTER TABLE public.build OWNER TO postgres;

--
-- Name: TABLE build; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.build IS 'Stores final build';


--
-- Name: build_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.build_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.build_id_seq OWNER TO postgres;

--
-- Name: build_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.build_id_seq OWNED BY public.build.build_id;


--
-- Name: case; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."case" (
    case_id integer NOT NULL,
    are_batteries_included boolean,
    batteries character varying(40),
    brand character varying(100),
    img text,
    item_model_no integer,
    item_weight character varying(60),
    manufacturer character varying(60),
    material character varying(100),
    mounting_hardware text,
    name text,
    price numeric(10,2),
    product_dimensions character varying(100),
    url text,
    usb_ports integer
);


ALTER TABLE public."case" OWNER TO postgres;

--
-- Name: case_case_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.case_case_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.case_case_id_seq OWNER TO postgres;

--
-- Name: case_case_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.case_case_id_seq OWNED BY public."case".case_id;


--
-- Name: favourites; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.favourites (
    build_id integer,
    id integer NOT NULL,
    user_id integer
);


ALTER TABLE public.favourites OWNER TO postgres;

--
-- Name: favourites_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.favourites_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.favourites_id_seq OWNER TO postgres;

--
-- Name: favourites_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.favourites_id_seq OWNED BY public.favourites.id;


--
-- Name: graphics_card; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.graphics_card (
    graphics_card_id integer NOT NULL,
    are_batteries_included boolean,
    batteries_required character varying(3),
    brand character varying(100),
    color_screen character varying(10),
    graphics_card_interface character varying(50),
    gsm_frequencies character varying(50),
    hardware_interface character varying(50),
    has_autofocus boolean,
    img text,
    includes_rechargable_batteries boolean,
    item_height character varying(50),
    item_model_no integer,
    item_weight character varying(60),
    item_width character varying(50),
    manufacturer character varying(100),
    memory_storage_capacity character varying(60),
    name text,
    price numeric(10,2),
    product_dimensions character varying(100),
    programmable_button boolean,
    url text,
    wattage character varying(50),
    model_year character varying(10)
);


ALTER TABLE public.graphics_card OWNER TO postgres;

--
-- Name: graphics_card_graphics_card_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.graphics_card_graphics_card_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.graphics_card_graphics_card_id_seq OWNER TO postgres;

--
-- Name: graphics_card_graphics_card_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.graphics_card_graphics_card_id_seq OWNED BY public.graphics_card.graphics_card_id;


--
-- Name: harddisk; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.harddisk (
    harddisk_id integer NOT NULL,
    are_batteries_included boolean,
    batteries character varying(40),
    brand character varying(100),
    buffer_size character varying(50),
    compatible_devices text,
    connector_type character varying(50),
    data_transfer_rate character varying(100),
    digital_storage_capacity character varying(20),
    flash_memory_installed_size character varying(20),
    form_factor character varying(20),
    hard_disk_rotational_speed character varying(20),
    hard_drive character varying(20),
    hard_drive_size character varying(20),
    hardware_interface character varying(50),
    hardware_platform text,
    img text,
    item_height character varying(50),
    item_model_no integer,
    item_weight character varying(60),
    item_width character varying(50),
    manufacturer character varying(100),
    model_name text,
    mounting_hardware text,
    name text,
    price numeric(10,2),
    product_dimensions character varying(100),
    url text,
    wattage character varying(50)
);


ALTER TABLE public.harddisk OWNER TO postgres;

--
-- Name: harddisk_harddisk_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.harddisk_harddisk_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.harddisk_harddisk_id_seq OWNER TO postgres;

--
-- Name: harddisk_harddisk_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.harddisk_harddisk_id_seq OWNED BY public.harddisk.harddisk_id;


--
-- Name: keyboard; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.keyboard (
    keyboard_id integer NOT NULL,
    img text,
    name text,
    price numeric(10,2),
    url text
);


ALTER TABLE public.keyboard OWNER TO postgres;

--
-- Name: keyboard_keyboard_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.keyboard_keyboard_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.keyboard_keyboard_id_seq OWNER TO postgres;

--
-- Name: keyboard_keyboard_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.keyboard_keyboard_id_seq OWNED BY public.keyboard.keyboard_id;


--
-- Name: liquid_cooling_system; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.liquid_cooling_system (
    liquid_cooling_system_id integer NOT NULL,
    are_batteries_included character varying(3),
    batteries character varying(100),
    brand character varying(100),
    img text,
    item_height character varying(50),
    item_model_no integer,
    item_weight character varying(60),
    item_width character varying(50),
    manufacturer character varying(100),
    name text,
    price numeric(10,2),
    processor_count character varying(4),
    product_dimensions character varying(100),
    url text,
    voltage character varying(50),
    wattage character varying(50)
);


ALTER TABLE public.liquid_cooling_system OWNER TO postgres;

--
-- Name: liquid_cooling_system_liquid_cooling_system_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.liquid_cooling_system_liquid_cooling_system_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.liquid_cooling_system_liquid_cooling_system_id_seq OWNER TO postgres;

--
-- Name: liquid_cooling_system_liquid_cooling_system_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.liquid_cooling_system_liquid_cooling_system_id_seq OWNED BY public.liquid_cooling_system.liquid_cooling_system_id;


--
-- Name: monitor; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.monitor (
    monitor_id integer NOT NULL,
    batteries_required character varying(4),
    brand character varying(100),
    connector_type character varying(50),
    display_technology character varying(100),
    display_type character varying(20),
    hardware_interface character varying(50),
    image_brightness character varying(20),
    img text,
    item_model_no integer,
    item_weight character varying(60),
    item_width character varying(50),
    manufacturer character varying(100),
    model_name text,
    mounting_hardware text,
    mounting_type text,
    name text,
    price numeric(10,2),
    product_dimensions character varying(100),
    refresh_rate character varying(50),
    resolution character varying(50),
    response_time character varying(50),
    special_features text,
    standing_screen_display_size character varying(20),
    url text
);


ALTER TABLE public.monitor OWNER TO postgres;

--
-- Name: monitor_monitor_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.monitor_monitor_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.monitor_monitor_id_seq OWNER TO postgres;

--
-- Name: monitor_monitor_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.monitor_monitor_id_seq OWNED BY public.monitor.monitor_id;


--
-- Name: motherboard; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.motherboard (
    motherboard_id integer NOT NULL,
    are_batteries_included character varying(4),
    brand character varying(100),
    graphics_card_interface character varying(50),
    img text,
    item_height character varying(50),
    item_model_no integer,
    item_weight character varying(60),
    item_width character varying(50),
    manufacturer character varying(100),
    name text,
    usb_ports character varying(10),
    price numeric(10,2),
    processor_socket character varying(50),
    product_dimensions character varying(100),
    series character varying(50),
    special_features text,
    url text,
    wattage character varying(50),
    batteries character varying(100),
    computer_memory_type character varying(50)
);


ALTER TABLE public.motherboard OWNER TO postgres;

--
-- Name: motherboard_motherboard_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.motherboard_motherboard_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.motherboard_motherboard_id_seq OWNER TO postgres;

--
-- Name: motherboard_motherboard_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.motherboard_motherboard_id_seq OWNED BY public.motherboard.motherboard_id;


--
-- Name: mouse; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mouse (
    mouse_id integer NOT NULL,
    img text,
    name text,
    price numeric(10,2),
    url text
);


ALTER TABLE public.mouse OWNER TO postgres;

--
-- Name: mouse_mouse_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.mouse_mouse_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.mouse_mouse_id_seq OWNER TO postgres;

--
-- Name: mouse_mouse_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.mouse_mouse_id_seq OWNED BY public.mouse.mouse_id;


--
-- Name: power_supply_unit; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.power_supply_unit (
    power_supply_unit_id integer NOT NULL,
    are_batteries_included boolean,
    batteries character varying(40),
    brand character varying(100),
    img text,
    item_height character varying(50),
    item_model_no integer,
    item_weight character varying(60),
    item_width character varying(50),
    manufacturer character varying(100),
    name text,
    price numeric(10,2),
    processor_count character varying(10),
    product_dimensions character varying(100),
    url text,
    voltage character varying(50),
    wattage character varying(50)
);


ALTER TABLE public.power_supply_unit OWNER TO postgres;

--
-- Name: power_supply_unit_power_supply_unit_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.power_supply_unit_power_supply_unit_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.power_supply_unit_power_supply_unit_id_seq OWNER TO postgres;

--
-- Name: power_supply_unit_power_supply_unit_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.power_supply_unit_power_supply_unit_id_seq OWNED BY public.power_supply_unit.power_supply_unit_id;


--
-- Name: processor; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.processor (
    processor_id integer NOT NULL,
    are_batteries_included character varying(4),
    brand character varying(100),
    computer_memory_type character varying(50),
    graphics_card_interface character varying(50),
    harddrive_size character varying(50),
    hardware_platform character varying(50),
    img text,
    item_height character varying(50),
    item_weight character varying(60),
    item_width character varying(50),
    manufacturer character varying(100),
    name text,
    operating_system character varying(40),
    price numeric(10,2),
    processor_brand character varying(40),
    processor_count integer,
    processor_socket character varying(50),
    processor_speed character varying(40),
    processor_type character varying(40),
    product_dimensions character varying(100),
    ram_size character varying(40),
    url text,
    wattage character varying(50),
    hard_drive_interface character varying(50),
    item_model_number character varying(50)
);


ALTER TABLE public.processor OWNER TO postgres;

--
-- Name: processor_processor_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.processor_processor_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.processor_processor_id_seq OWNER TO postgres;

--
-- Name: processor_processor_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.processor_processor_id_seq OWNED BY public.processor.processor_id;


--
-- Name: ram; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ram (
    ram_id integer NOT NULL,
    are_batteries_included character varying(4),
    batteries character varying(100),
    brand character varying(100),
    computer_memory_type character varying(50),
    form_factor character varying(50),
    img text,
    included_components text,
    item_height character varying(50),
    item_model_no integer,
    item_weight character varying(60),
    item_width character varying(50),
    manufacturer character varying(100),
    memory_clock_speed character varying(40),
    memory_technology character varying(100),
    name text,
    price numeric(10,2),
    product_dimensions character varying(100),
    url text,
    voltage character varying(50)
);


ALTER TABLE public.ram OWNER TO postgres;

--
-- Name: ram_ram_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ram_ram_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ram_ram_id_seq OWNER TO postgres;

--
-- Name: ram_ram_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ram_ram_id_seq OWNED BY public.ram.ram_id;


--
-- Name: referral; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.referral (
    build_id integer,
    from_user text,
    to_user_id integer,
    referral_id integer NOT NULL
);


ALTER TABLE public.referral OWNER TO postgres;

--
-- Name: referrals_referral_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.referrals_referral_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.referrals_referral_id_seq OWNER TO postgres;

--
-- Name: referrals_referral_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.referrals_referral_id_seq OWNED BY public.referral.referral_id;


--
-- Name: speaker; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.speaker (
    speaker_id integer NOT NULL,
    img text,
    name text,
    price numeric(10,2),
    url text
);


ALTER TABLE public.speaker OWNER TO postgres;

--
-- Name: speaker_speaker_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.speaker_speaker_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.speaker_speaker_id_seq OWNER TO postgres;

--
-- Name: speaker_speaker_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.speaker_speaker_id_seq OWNED BY public.speaker.speaker_id;


--
-- Name: build build_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.build ALTER COLUMN build_id SET DEFAULT nextval('public.build_id_seq'::regclass);


--
-- Name: case case_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."case" ALTER COLUMN case_id SET DEFAULT nextval('public.case_case_id_seq'::regclass);


--
-- Name: favourites id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.favourites ALTER COLUMN id SET DEFAULT nextval('public.favourites_id_seq'::regclass);


--
-- Name: graphics_card graphics_card_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.graphics_card ALTER COLUMN graphics_card_id SET DEFAULT nextval('public.graphics_card_graphics_card_id_seq'::regclass);


--
-- Name: harddisk harddisk_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.harddisk ALTER COLUMN harddisk_id SET DEFAULT nextval('public.harddisk_harddisk_id_seq'::regclass);


--
-- Name: keyboard keyboard_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.keyboard ALTER COLUMN keyboard_id SET DEFAULT nextval('public.keyboard_keyboard_id_seq'::regclass);


--
-- Name: liquid_cooling_system liquid_cooling_system_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.liquid_cooling_system ALTER COLUMN liquid_cooling_system_id SET DEFAULT nextval('public.liquid_cooling_system_liquid_cooling_system_id_seq'::regclass);


--
-- Name: monitor monitor_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.monitor ALTER COLUMN monitor_id SET DEFAULT nextval('public.monitor_monitor_id_seq'::regclass);


--
-- Name: motherboard motherboard_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.motherboard ALTER COLUMN motherboard_id SET DEFAULT nextval('public.motherboard_motherboard_id_seq'::regclass);


--
-- Name: mouse mouse_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mouse ALTER COLUMN mouse_id SET DEFAULT nextval('public.mouse_mouse_id_seq'::regclass);


--
-- Name: power_supply_unit power_supply_unit_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.power_supply_unit ALTER COLUMN power_supply_unit_id SET DEFAULT nextval('public.power_supply_unit_power_supply_unit_id_seq'::regclass);


--
-- Name: processor processor_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.processor ALTER COLUMN processor_id SET DEFAULT nextval('public.processor_processor_id_seq'::regclass);


--
-- Name: ram ram_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ram ALTER COLUMN ram_id SET DEFAULT nextval('public.ram_ram_id_seq'::regclass);


--
-- Name: referral referral_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.referral ALTER COLUMN referral_id SET DEFAULT nextval('public.referrals_referral_id_seq'::regclass);


--
-- Name: speaker speaker_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.speaker ALTER COLUMN speaker_id SET DEFAULT nextval('public.speaker_speaker_id_seq'::regclass);


--
-- Data for Name: build; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.build (build_id, case_id, graphics_card_id, harddisk_id, keyboard_id, liquid_cooling_system_id, monitor_id, motherboard_id, mouse_id, power_supply_unit_id, processor_id, ram_id, speaker_id, total_price, user_id) FROM stdin;
93	30	223	18	212	170	207	\N	149	155	902	439	\N	72685	1
94	30	223	18	212	170	207	\N	149	155	902	439	\N	72685	1
95	30	223	18	212	174	206	\N	149	155	902	439	\N	69684	5
96	30	223	18	212	174	206	\N	149	155	902	439	\N	69684	5
97	28	259	18	214	141	207	\N	131	140	951	422	\N	195786	5
\.


--
-- Data for Name: case; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: favourites; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.favourites (build_id, id, user_id) FROM stdin;
94	17	1
95	18	5
\.


--
-- Data for Name: graphics_card; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: harddisk; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: keyboard; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: liquid_cooling_system; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: monitor; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: motherboard; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: mouse; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: power_supply_unit; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: processor; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ram; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: referral; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.referral (build_id, from_user, to_user_id, referral_id) FROM stdin;
94	amitsarje	3	7
95	spike	1	8
\.


--
-- Data for Name: speaker; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: build_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.build_id_seq', 1, false);


--
-- Name: case_case_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.case_case_id_seq', 1, false);


--
-- Name: favourites_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.favourites_id_seq', 1, false);


--
-- Name: graphics_card_graphics_card_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.graphics_card_graphics_card_id_seq', 1, false);


--
-- Name: harddisk_harddisk_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.harddisk_harddisk_id_seq', 1, false);


--
-- Name: keyboard_keyboard_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.keyboard_keyboard_id_seq', 1, false);


--
-- Name: liquid_cooling_system_liquid_cooling_system_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.liquid_cooling_system_liquid_cooling_system_id_seq', 1, false);


--
-- Name: monitor_monitor_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.monitor_monitor_id_seq', 1, false);


--
-- Name: motherboard_motherboard_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.motherboard_motherboard_id_seq', 1, false);


--
-- Name: mouse_mouse_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.mouse_mouse_id_seq', 1, false);


--
-- Name: power_supply_unit_power_supply_unit_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.power_supply_unit_power_supply_unit_id_seq', 1, false);


--
-- Name: processor_processor_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.processor_processor_id_seq', 1, false);


--
-- Name: ram_ram_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ram_ram_id_seq', 1, false);


--
-- Name: referrals_referral_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.referrals_referral_id_seq', 1, false);


--
-- Name: speaker_speaker_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.speaker_speaker_id_seq', 1, false);


--
-- Name: build build_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.build
    ADD CONSTRAINT build_pkey PRIMARY KEY (build_id);


--
-- Name: case case_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."case"
    ADD CONSTRAINT case_pkey PRIMARY KEY (case_id);


--
-- Name: favourites favourites_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.favourites
    ADD CONSTRAINT favourites_pkey PRIMARY KEY (id);


--
-- Name: graphics_card graphics_card_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.graphics_card
    ADD CONSTRAINT graphics_card_pkey PRIMARY KEY (graphics_card_id);


--
-- Name: harddisk harddisk_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.harddisk
    ADD CONSTRAINT harddisk_pkey PRIMARY KEY (harddisk_id);


--
-- Name: keyboard keyboard_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.keyboard
    ADD CONSTRAINT keyboard_pkey PRIMARY KEY (keyboard_id);


--
-- Name: liquid_cooling_system liquid_cooling_system_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.liquid_cooling_system
    ADD CONSTRAINT liquid_cooling_system_pkey PRIMARY KEY (liquid_cooling_system_id);


--
-- Name: monitor monitor_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.monitor
    ADD CONSTRAINT monitor_pkey PRIMARY KEY (monitor_id);


--
-- Name: motherboard motherboard_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.motherboard
    ADD CONSTRAINT motherboard_pkey PRIMARY KEY (motherboard_id);


--
-- Name: mouse mouse_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mouse
    ADD CONSTRAINT mouse_pkey PRIMARY KEY (mouse_id);


--
-- Name: power_supply_unit power_supply_unit_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.power_supply_unit
    ADD CONSTRAINT power_supply_unit_pkey PRIMARY KEY (power_supply_unit_id);


--
-- Name: processor processor_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.processor
    ADD CONSTRAINT processor_pkey PRIMARY KEY (processor_id);


--
-- Name: ram ram_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ram
    ADD CONSTRAINT ram_pkey PRIMARY KEY (ram_id);


--
-- Name: speaker speaker_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.speaker
    ADD CONSTRAINT speaker_pkey PRIMARY KEY (speaker_id);


--
-- PostgreSQL database dump complete
--

